html,body {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.outercontainer{
    margin-top: 100px;
}

.headercontainer h1{
    font-weight: 700;
}

.headercontainer h3{
    font-weight: 400;;
}

.cardcontainer{
    margin-bottom: 150px;
    margin-top: 75px;
}

.cardcontainer .card {
  width: 15rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}

.cardcontainer .card .card-body .card-title .confirmed {
  color: #cd113b;
}

.cardcontainer .card .card-body .card-title .recovered {
  color: #66de93;
}

.cardcontainer .card .card-body .card-title .active {
  color: #185adb;
}

.cardcontainer .card .card-body .card-title .deceased {
  color: #171717;
}

.cardcontainer .card .card-body .card-text {
  font-size: 32px;
  font-weight: semi-bold;
}

.positive{
    color: #66de93;
    font-weight: 500;
}

.negative{
    color: #cd113b;
    font-weight: 500;
}

/* table new cases */

.positivetable{
  color: #66de93;
  font-weight: 400;
  font-size: 16px;
  float: right;
}

.negativetable{
  color: #cd113b;
  font-weight: 400;
  font-size: 16px;
  float: right;
}

/* guidelines */
#guidelinesContainer, #vaccineContainer{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    padding: 20px;
}

/* subscription*/

.formcontainer form .emailinput{
    outline: none;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    border: solid #7365e6 2px;
}

.subscribebtn{
    outline: none;
    color: #7365e6;
    background-color: white;
    border: solid #7365e6 2px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    width: 125px;
    margin-left: 15px;
}

.subscribebtn:hover{
    color: white;
    background-color: #7365e6;
}


