html,body {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.outercontainer{
    margin-top: 100px;
}

.headercontainer h1{
    font-weight: 700;
    color: #474787;
}

.headercontainer h3{
    font-weight: 400;
    color: #474787;
}

.topsubcontainer p a{
  text-decoration: none;
  color: #474787;
  font-weight: 500;
} 

.cardcontainer{
    margin-bottom: 150px;
    margin-top: 75px;
}

.cardcontainer .card {
  width: 15rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}

.cardcontainer .card .card-body .card-title .confirmed {
  color: #cd113b;
}

.cardcontainer .card .card-body .card-title .recovered {
  color: #66de93;
}

.cardcontainer .card .card-body .card-title .active {
  color: #185adb;
}

.cardcontainer .card .card-body .card-title .deceased {
  color: #171717;
}

.cardcontainer .card .card-body .card-text {
  font-size: 32px;
  font-weight: semi-bold;
}

.positive{
    color: #66de93;
    font-weight: 500;
}

.negative{
    color: #cd113b;
    font-weight: 500;
}

/* chart */
.subheading{
  color: #474787;
  font-weight: 500;
  width: 25%;
} 

.charttwo{
  margin-top: 75px;
  margin-bottom: 150px;
}

/* table */
.subheadingtwo{
  color: #474787;
  font-weight: 500;
  width: 35%;
}

.table .thead-light .statenames{
  color: #474787;
}

.table .thead-light .stateconfirmed{
  color: #cd113b
}

.table .thead-light .staterecovered{
  color: #66de93;
}

.table .thead-light .stateactive{
  color: #185adb;
}

.table .thead-light .statedeceased{
  color: #171717;
}

/* guidelines */
.guidelinesheader{
  margin-top: 100px;
  margin-bottom: 75px;
}

.guidelinesheader .subheadingthree{
  color:#474787;
  font-weight: 500;
  width: 25%;
}

#guidelinescontainer{
  margin-bottom: 100px;
  width: 40%;
}

.sign{
  font-size: 28px;
  color: #474787;
}

.fa-virus-slash{
  color: #cd113b;
  margin-bottom: 25px;
  font-size: 32px;
}

.points{
  font-weight: 500;
}

#vaccinecontainer{
  margin-bottom: 100px;
  width: 40%;
}

.vaccinate{
  color: #66de93;
  margin-bottom: 25px;
  font-size: 32px;
}

/* subscribe */

.subscribe{
  margin-top: 75px;
  margin-bottom: 125px;
}

.fa-envelope{
  color: #474787;
  font-size: 64px;
}

.subscribe p{
  font-size: 18px;
  font-weight: 500;
}

/* footer */

/* underline */
.underline{
  border-top: 3px solid #474787;
  margin-bottom: 75px;
  width: 60px;
  transition: width 0.6s;
}

.subheading:hover + .underline {
  width: 250px;
}

.subheadingtwo:hover + .underline {
  width: 300px;
}

.subheadingthree:hover + .underline{
  width: 200px;
}
/* table new cases */

.positivetable{
  color: #66de93;
  font-weight: 400;
  font-size: 16px;
  float: right;
}

.negativetable{
  color: #cd113b;
  font-weight: 400;
  font-size: 16px;
  float: right;
}

/* guidelines */
#guidelinescontainer, #vaccinecontainer, .chartcontainer{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    padding: 20px;
}

/* subscription*/

.formcontainer form .emailinput{
    outline: none;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    border: solid #474787 2px;
}

.subscribebtn{
    outline: none;
    color: #474787;
    background-color: white;
    border: solid #474787 2px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    width: 125px;
    margin-left: 15px;
}

.subscribebtn:hover{
    color: white;
    background-color: #474787;
}

footer div p{
  font-size: 18px;
  font-weight: 500;
}

.fa-home, .fa-user-shield, .fa-users{
  color: #474787;
}

footer div div{
  width: 350px;
  font-size: 18px;
}

.fa-arrow-right{
  color: #474787;
}

.fa-facebook-square{
  color: #098bf0;
}

.fa-instagram{
  color: #8a3ab9;;
}

.fa-twitter-square{
  color: #1DA1F2;;
}

/*responsive*/
@media only screen and (max-width: 576px){
  .headercontainer h1{
    font-size: 24px;
  }

  .headercontainer h3{
    font-size: 18px;
  }

  .topsubcontainer{
    font-size: 12px;
  }

  .cardcontainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

  .confirmedcard, .activecard{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .subheading{
    width: 60%;
    font-size: 24px;
  }

  .recoveredcontainer, .deceasedcontainer{
    margin-top: 75px;
  }

  .subheadingtwo{
    width: 65%;
    font-size: 24px;
  }

  .guidelinesheader .subheadingthree{
    width: 65%;
    font-size: 24px;
  }

  .guidelinesouter{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #guidelinescontainer, #vaccinecontainer{
    width: 100%;
  }

  #guidelinescontainer h3, #vaccinecontainer h3{
    font-size: 18px;
    font-weight: 500;
  }

  .subscribe p{
    font-size: 14px;
  }

  footer div p{
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px){
  .headercontainer h1{
    font-size: 32px;
  }

  .headercontainer h3{
    font-size: 24px;
  }

  .cardcontainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .confirmedcard, .activecard{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .subheading{
    width: 50%;
  }

  .recoveredcontainer, .deceasedcontainer{
    margin-top: 75px;
  }

  .subheadingtwo{
    width: 50%;
  }

  .guidelinesheader .subheadingthree{
    width: 50%;
  }

  .guidelinesouter{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #guidelinescontainer, #vaccinecontainer{
    width: 100%;
  }
}

@media only screen and (max-width: 992px){
  .cardcontainer .card{
    width: 200px;
  }

  .subheading{
    width: 50%;
  }
}

@media only screen and (max-width: 1200px){
  .cardcontainer .card{
    width: 200px;
  }
  .subheading{
    width: 50%;
  }
}